.accordion-section {
    background-color: white;
    border-radius: 1rem;
    position: absolute;
    top: 2400px;
    z-index: 10000;
  width: 700px;
  position: absolute;
left: -32px;
  padding: 2rem;
  font-family: sans-serif;

 
}

.accordion-title {
  position: absolute;
  margin-bottom: 1rem;
  text-align: center;
   font-family: 'Boldonse';
  width: 500px;
  position: relative;
  top: -10px;
  line-height: 1.5;
  color: #FF6B57;
  font-size: 40px;
  font-weight: 400;
  left: -40px;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.accordion-question {
  background: none;
  border: none;
  font-weight: 600;
  text-align: left;
  width: 100%;
  cursor: pointer;
  padding: 0.5rem 0;
  color: var(--laab-grey, #5C6471);
   font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.accordion-question.open {
  color: #FF6B57;
}

.accordion-answer {
  margin-top: 0.5rem;
  color: var(--laab-grey, #5C6471);
  line-height: 1.6;
   font-weight: 400;
   font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/*Tablet*/
@media (max-width: 1024px) {
  .accordion-section {
    background-color: white;
    border-radius: 1rem;
    position: absolute;
    top: 2300px;
    z-index: 10000;
  max-width: 700px;
  margin-left: 120px;
  padding: 2rem;
  font-family: sans-serif;

 
}


.accordion-title {
font-size: 24px;
  padding-left: 1.5rem;
  position: relative;
  margin-top: 50px;
  width: 500px;
  margin-left: 60px;
  text-align: center;
  width: 400px;
  color: #FF6B57;
  margin-bottom: 1.5rem;
  left: 40px;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.accordion-question {
  background: none;
  border: none;
  font-weight: 600;
  text-align: left;
  width: 100%;
  cursor: pointer;
  padding: 0.5rem 0;
  color: var(--laab-grey, #5C6471);
   font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.accordion-question.open {
  color: #FF6B57;
}

.accordion-answer {
  margin-top: 0.5rem;
  color: var(--laab-grey, #5C6471);
  line-height: 1.6;
   font-weight: 400;
   font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
}


/*Ipad mini*/
@media (max-width: 768px) {
  .accordion-section {
    background-color: white;
    border-radius: 1rem;
    position: absolute;
    top: 2200px;
    z-index: 10000;
  max-width: 500px;
  margin-left: 100px;
  padding: 2rem;
  font-family: sans-serif;

 
}


.accordion-title {
font-size: 24px;
  padding-left: 1.5rem;
  position: relative;
  top: -10px;
  width: 500px;
  margin-left: -50px;
  text-align: center;
  width: 400px;
  color: #FF6B57;
  margin-bottom: 1.5rem;
  left: 40px;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.accordion-question {
  background: none;
  border: none;
  font-weight: 600;
  text-align: left;
  width: 100%;
  cursor: pointer;
  padding: 0.5rem 0;
  color: var(--laab-grey, #5C6471);
   font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.accordion-question.open {
  color: #FF6B57;
}

.accordion-answer {
  margin-top: 0.5rem;
  color: var(--laab-grey, #5C6471);
  line-height: 1.6;
   font-weight: 400;
   font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
}

/* Mobile (500px – 767px) */
@media (max-width: 500px) {
.accordion-section {
    background-color: white;
    border-radius: 1rem;
    position: absolute;
    top: 2800px;
    z-index: 10000;
  max-width: 350px;
  position: absolute;
  left: -68px;
  margin-left: 15px;
  padding: 2rem;

 
}

.accordion-title {
  margin-bottom: 5px;
  text-align: center;
  width: 300px;
  position: relative;
  top: -10px;
  line-height: 1.5;
  color: #FF6B57;
  font-size: 24px;
  font-weight: 400;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.accordion-question {
  background: none;
  border: none;
  font-weight: 600;
  text-align: left;
  width: 100%;
  cursor: pointer;
  padding: 0.5rem 0;
  color: var(--laab-grey, #5C6471);
   font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.accordion-question.open {
  color: #FF6B57;
}

.accordion-answer {
  margin-top: 0.5rem;
  color: var(--laab-grey, #5C6471);
  line-height: 1.6;
   font-weight: 400;
   font-family: 'Roboto', sans-serif;
  font-size: 16px;
  }
}




