.accordion-section {
    background-color: white;
    border-radius: 40px;
    position: absolute;
    top: 2550px;
    z-index: 10000;
  max-width: 500px;
  margin-left: 52px;
  padding: 2rem;
  font-family: sans-serif;

 
}

.accordion-title {
  margin-bottom: 1.5rem;
  text-align: center;
   font-family: 'Boldonse';
  width: 500px;
  position: relative;
  top: -10px;
  line-height: 1.5;
  color: #FF8F1E;
  font-size: 40px;
  font-weight: 600;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
  padding: 1rem 0;
}

.accordion-question {
  background: none;
  border: none;
  font-weight: 600;
  text-align: left;
  width: 100%;
  cursor: pointer;
  padding: 0.5rem 0;
  color: var(--laab-grey, #5C6471);
   font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.accordion-question.open {
  color: #FF6B57;
}

.accordion-answer {
  margin-top: 0.5rem;
  color: var(--laab-grey, #5C6471);
  line-height: 1.6;
   font-weight: 400;
   font-family: 'Roboto', sans-serif;
  font-size: 16px;
}


