html, body {

  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "width" 100;
  overflow-x: hidden; 
  width: 100%;
}

.boldonse-regular {
  font-family: "Boldonse", system-ui;
  font-weight: 400;
  font-style: normal;
}

.wavyLine {
  width: 400px;
  height: 500px;
  transform: rotate(1deg);
  flex-shrink: 0;
}

html {
  scroll-behavior: smooth;
}

