.cta-card {
  position: absolute;
  top: 4600px;
  left: 720px;
  background-color: #fff;
  border-radius: 2rem;
  padding: 2.5rem 1.5rem;
  max-width: 500px;
  margin: 2rem auto;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
  font-family: 'Segoe UI', sans-serif;
}

.cta-title {
  color: #FF6B57; 
  font-family: 'Boldonse';
  font-size: 40px;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  width: 400px;
  font-weight: 400;
  text-align: center;
}

.cta-text {
  color: #4a4a4a;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
  text-align: left;
}

.cta-donate {
  background-color: transparent;
  color: #2563eb;
  border: 2px solid #f97316;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  width: 100%;
}

.cta-donate:hover {
  background-color: #f97316;
  color: white;
  border-color: #f97316;
}

.changeImg {
    width: 500px;
    height: auto;
    position: absolute;
    top: 4550px;
    left: 30px;
}


.abstractStarGif {
    width: 400px;
    height: auto;
    position: absolute;
    top:4400px;
    left: 400px;
    z-index: -1;
}

.abstractSpiral {
     width: 300px;
    height: auto;
    position: absolute;
    top: 4250px;
    left: 1050px;
    z-index: 10000;
}


 /* Small mobile (max-width: 500px) */
@media (max-width: 500px) {
  .cta-card {
    left: 50%;
    transform: translateX(-50%);
    top: 5150px;
    width: 90%;
    padding: 2rem 1rem;
  }

  .cta-title {
    font-size: 32px;
    width: 100%;
  }

  .cta-text {
    font-size: 0.95rem;
  }

  .cta-donate {
    font-size: 0.95rem;
  }

  .changeImg {
    top: 4400px;
    width: 90%;
    left: 10%;
    top: 4800px;
  }

  .abstractStarGif {
    width: 300px;
    left: 200px;
    top: 3900px;
  }

  .abstractSpiral {
    width: 80px;
    left: 80px;
    top: 4650px;
    z-index: -1;
  }
}

