.pinkBar-wrapper {
  position: absolute;
  top: 3100px;
  width: 100vw;
  height: 1880px;
  overflow-x: hidden;
  z-index: -1000;
  left: 0;
}

.pinkBar {
z-index: -1000;
  position: absolute;
  top: 0px;
  width: 2000px;
height: 1580px;
left: 0px;
}


.faqsAnim {
    position: absolute;
    top: 3550px;
    left: 770px;
    width: 500px;
    height: 500px;
    z-index: 10000;
}

.whiteStripes {
    z-index: 10000;
  width: 200;
  height: auto;
  aspect-ratio: 523.67/343.73;
  position: absolute;
  top: 3000px;
  left: 800px;;
}


#faqs {
  scroll-margin-top: 100px; 
  min-height: 300vh;
  padding: 2rem; 
}

.accordionContainer {
  position: absolute;
  top: 900px;
}

/* Tablet (768px – 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {

#faqs {
   min-height: 130vh;
}  

  .faqsAnim {
    width: 350px;
    height: 350px;
    top: 3500px;
    left: 580px;
  }

  .whiteStripes {
  width: 100;
  top: 3000px;
  left: 450px;
}

}


/* Ipad mini (500px – 767px) */
@media (max-width: 768px) {
   html, body {
    overflow-x: hidden;
  }

  #faqs {
   min-height: 130vh;
}  

  .faqsAnim {
    width: 350px;
    height: 350px;
    top: 2900px;
    left: 220px;
    z-index: 10000
  }

  .whiteStripes {
  width: 100;
  top: 3000px;
  left: 450px;
}

.pinkBar-wrapper{
  position: absolute;
    top: 2550px;     
    width: 100vw;
    height: 1680px;    
    overflow-x: hidden;
    z-index: -2000;
}

.pinkBar {
  width: 2000px;
  height: 1580px;
}

.rectanglePink {
    width: 1600px;      
  height: 2700px;      
  background-color: #FF6B57;  
  position: absolute;
  top: 600px;
  }

}


/* Small Mobile (<500px) */
@media (max-width: 499px) {
  .faqsAnim {
    width: 350px;
    height: 350px;
    top: 3300px;
    left: 20px;
  }
  .pinkBar-wrapper {
    position: absolute;
    top: 2850px;     
    width: 100vw;
    height: 1380px;    
    overflow-x: hidden;
    z-index: -2000;
  }

  .pinkBar {
    position: absolute;
    top: 0;        
    left: 0;
    width: 2000px;     
    height: 1580px;
  }

  .rectanglePink {
    width: 600px;      
  height: 1700px;      
  background-color: #FF6B57;  
  position: absolute;
  top: 600px;
  }


}


