.features-section {
  position: absolute;
    top: 2050px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 10rem;
  padding: 3rem 2rem;
  flex-wrap: wrap;
  left: 12%;
}

.features-title{

  font-family: 'Boldonse', sans-serif;
  font-size: 40px;
  color: #FF6B57;
  margin: 2rem;
  position: absolute;
  top: 1850px;
  width: 600px;
  left: 330px;
  text-align: center;

} 

.feature-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  max-width: 200px;
  text-align: center;
  flex: 1;
}

.icon {
  font-size: 2rem;
  color: white;
}

.feature-text {
  margin-top: 1rem;
  font-size: 0.95rem;
  color: var(--laab-grey, #5C6471);
  font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.flower-animation {
    width: 400px;
    height: auto;
}


.playgroundIcon {
    z-index: 100000;
    width: 320px;
    height: auto;
    position: absolute;
    top: 8px;
    left: -30px;
    
}


/* Tablet (768px – 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
  .features-section {
    top: 1850px;
    flex-direction: row;
    gap: 5rem;
    margin-left: 40px;
    padding: 2rem 1.5rem;
    left: 80px;
  }

  .features-title{

  font-size: 24px;
  padding-left: 1.5rem;
  position: absolute;
  top: 1650px;
  width: 600px;
  margin-left: -50px;
  text-align: center;
  width: 400px;
  color: #FF6B57;

} 
  .feature-item {
    max-width: 180px;
  }

  .flower-shape {
    width: 100px;
    height: 100px;
  }

  .flower-animation {
    width: 320px;
  }

  .playgroundIcon {
    position: absolute;
    width: 250px;
    top: 10px;
    left: -15px;
  }
}

/* Mobile (500px – 767px) */
@media (min-width: 500px) and (max-width: 767px) {
   html, body {
    overflow-x: hidden;
  }
   .features-section {
    top: 1850px;
    flex-direction: row;
    gap: 5rem;
    margin-left: 100px;
    padding: 2rem 1.5rem;
  }

  
  .feature-item {
    max-width: 100px;
  }

  .flower-shape {
    width: 100px;
    height: 100px;
  }

  .flower-animation {
    width: 320px;
  }

  .playgroundIcon {
    position: absolute;
    width: 200px;
    top: -3px;
    left: -25px;
  }

  .flower-animation {
    width: 200px;
    height: auto;
  }

    .feature-text {
  font-size: 12px;
  }

}

/* Small Mobile (below 500px) */
@media (max-width: 499px) {
   .features-section {
    top: 1850px;
    flex-direction: row;
    gap: 5rem;
    margin-left: 0px;
    padding: 2rem 1.5rem;
    left: 0;
  }

  .features-title{
  font-size: 24px;
  font-weight: 400;
  color: #FF6B57;
  margin-bottom: 1rem;
  font-family: 'Boldonse';
  text-align: center;
  left: 60px;
  width: 50%;
  top: 1650px;

  }

  .feature-item {
    max-width: 180px;
  }

  .flower-shape {
    width: 100px;
    height: 100px;
  }

  .flower-animation {
    width: 320px;
  }

  .playgroundIcon {
    position: absolute;
    width: 250px;
    top: 5px;
    left: -16px;
  }
}
