.navbar-inner {
position: sticky;
}

#nav{
    z-index: 100000;
    background-color: rgb(255, 255, 255);
    position: fixed;
}

.navbar {
  height: 114px;
  border-bottom: 1px solid #fff;
  padding: 1rem 2rem;
  justify-content: space-between;
  
}

.navbar-inner {
  width: 2000px;
  margin-top: 45px;
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-left: 550px;
}

.navbar a {
  text-decoration: none;
  color: #607589;
  
}

.navbar :hover {
  color: #FF6B57;
  
}

#donate-btn {
  background-color: rgba(30, 112, 255, 1);
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
}

#donate-btn:hover {
  background-color: #FF6B57
}

.lang-toggle {
  padding: 0.4rem 0.8rem;
  border: 1px solid #FF6B57;
  border-radius: 20px;
  background: white;
  cursor: pointer;
  color: #FF6B57;
}
