.our-story {
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
  position: relative;
  top: 200px;
   min-height: 2200px;
  
}

#story-txt {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #545A63;
  margin: 2rem;
  
}

#story-txt2 {
   font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  margin: 2rem;
  padding-left: 32;
  position: absolute;
  top: 600px;
  left: 700px;
  width: 500px;
}

#story-txt3 {
   font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #545A63;
  margin: 2rem;
  padding-left: 32;
  position: absolute;
  top: 1200px;
  width: 500px;
}

#story-txt4 {
   font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #fff;
  margin: 2rem;
  padding-left: 32;
  position: absolute;
  top: 1700px;
  width: 500px;
  left: 700px;
}

.story-title {
  font-family: 'Boldonse', sans-serif;
  font-size: 80px;
  color: #FF8F1E;
  margin: 2rem;
  padding-left: 1.5rem;
}

.story-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-top: -10px;
  flex-wrap: wrap;
 
}

.story-section p {
  flex: 1;
  max-width: 600px;
  margin: 1rem;
  color: #1e1e1e;
}

.story-section.blue {
  
  color: white;
}

.image {
  flex: 1;
  min-width: 200px;
  height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1rem;
  border-radius: 50%;
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
  .story-section {
    flex-direction: column;
    text-align: center;
  }

  .story-title {
    font-size: 32px;
    text-align: center;
  }

 
}


img.chicken {
  position: absolute;
  left: 600px;
  top: -10px;
  width: 600px;
  height: auto;
  border-radius: 50%;
  margin: 1rem;
}


img.star {
  position: absolute;
  left: 60px;
  top: 400px;
  width: 700px;
  height: auto;
  border-radius: 50%;
  margin: 1rem;
}


img.apple {
  position: absolute;
  left: 640px;
  top: 850px;
  width: 700px;
  height: auto;
  border-radius: 50%;
  margin: 1rem;
}


img.splash {
  position: absolute;
  left: 10px;
  top: 1550px;
  width: 700px;
  height: auto;
  border-radius: 50%;
  margin: 1rem;
}

.story-section.white {
    max-width: 500px;
 
  margin-left: -10px;
}

.blueBar1 {
  position: absolute;
  z-index: -1000;
  top: 450px;
  width: 2000px;
  height: auto;
  transform: rotate(3.002deg);
  flex-shrink: 0;
  left: -280px;
}

.blueBar2 {
  position: absolute;
  z-index: -1000;
  top: 1550px;
  width: 2000px;
  height: auto;
  transform: rotate(3.002deg);
  flex-shrink: 0;
  left: -258px;
}

html {
  scroll-behavior: smooth;
  overflow-anchor: none;
}
