@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* If you have Boldonse locally, import it here or link from your assets */

.our-story {
  font-family: 'Roboto', sans-serif;
  line-height: 1.7;
  position: relative;
  top: 200px;
  
}

#story-txt {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #545A63;
  margin: 2rem;
  padding-left: 32;
}

.story-title {
  font-family: 'Boldonse', sans-serif;
  font-size: 90px;
  color: #FF8F1E;
  margin: 2rem;
  padding-left: 1.5rem;
}

.story-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-top: -10px;
  flex-wrap: wrap;
 
}

.story-section p {
  flex: 1;
  max-width: 1000px;
  margin: 1rem;
  color: #1e1e1e;
}

.story-section.blue {
  
  color: white;
}

.image {
  flex: 1;
  min-width: 200px;
  height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 1rem;
  border-radius: 50%;
}

/* Add media queries for responsiveness */
@media (max-width: 768px) {
  .story-section {
    flex-direction: column;
    text-align: center;
  }

  .story-title {
    font-size: 32px;
    text-align: center;
  }

  .image {
    height: 200px;
  }
}


img.chicken {
  position: absolute;
  left: 600px;
  top: -10px;
  width: 600px;
  height: auto;
  border-radius: 50%;
  margin: 1rem;
}


img.star,
img.apple,
img.splash {
  width: 250px;
  height: auto;
  border-radius: 50%;
  margin: 1rem;
}

.story-section.white {
    max-width: 400px;
  margin: 0 auto;
  margin-left: -10px;
}

.blueBar {
  position: absolute;
  z-index: -1000;
  top: 420px;
  width: 2000px;
  height: 1080px;
  transform: rotate(3.002deg);
  flex-shrink: 0;
  left: -258px;
}
